@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

*
{
    margin: 0;
    font-family: 'Open Sans', sans-serif; 
}
.cover
{
background-image: url(https://www.taleek.com/img/bg-layer.svg);
background-repeat: no-repeat;
background-size: cover;
background-color:rgb(0, 0, 0) ;
padding: 10px;

}

header
{
    display: flex;
    
    margin: 10px;
}
.logo1
{
    display: flex;
    margin-left: 40px;    
}
.imglogo
{
    height: 150px;
    background-color: #fff;
    border-radius: 50%;
    height: 100px;
    cursor: pointer;
}
.txtlogo
{
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    padding:20px; 
}
.navbar
{
    
    width: 100%; 
    display: flex; 
    align-items: center;
    
}
ul
{
    
    list-style-type: none; 
    display: flex;
    justify-content: flex-end;
    width: 100%;
    
}
li
{
 margin:0px 50px;
 font-size: 22px; 
 color: white;  
 cursor: pointer; 
}

.middle
{
   
    text-align: center;
    
    
}
.title
{
    cursor: pointer;
    color: white;
    font-size: 60px;
    letter-spacing: 30px;
    align-items: center;
    margin-bottom: 10px;
      
}
.imgmid
{
    
    width: 50%;  
    margin: 0 auto;  
}
.logomid
{
   
    height: 450px;
       animation: mymove 5s infinite linear;
}
@keyframes mymove
{
    0%{transform: translate(0,0);}
    30%{transform: translate(5px,2.5px);}
    60%{transform: translate(2.5px,5px);}
    100%{transform: translate(0,0);}
}

.downloadarea
{
   
    width: 50%;
    margin: 30px auto;
    

}

.iphone
{
    height: 50px;
    background-repeat: no-repeat;
    
    padding: 5px;
}

.android
{
   
    height: 50px;
    background-repeat: no-repeat;
   
    padding: 5px;
}


